Mutable Objects

1.List

2.Set

3.Dictionary

#List

In [2]:
#List should be inculded in square brackets
my_list=[1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [4]:
my_list=[1,"2 Sunday",True,4.7,5]
print(my_list)
type(my_list)

[1, '2 Sunday', True, 4.7, 5]

list

Lists are Mutable

In [5]:
#Add elements to a list
my_list=[1,"2 Sunday",True,4.7,5]
my_list.append("NEW")
print(my_list)

[1, '2 Sunday', True, 4.7, 5, 'NEW']

In [6]:
print(my_list[1])

2 Sunday

In [7]:
#lists allows duplicate value
list1=[1,4,"twenty-five",4]
print(list1)

[1, 4, 'twenty-five', 4]

In [8]:
print(len(list1))

4

In [9]:
#Deleting elements in a List
del list1[1]
print(list1)

[1, 'twenty-five', 4]

In [10]:
#Joining 2 lists
listnew= list1+ my_list;
print(listnew)

[1, 'twenty-five', 4, 1, '2 Sunday', True, 4.7, 5, 'NEW']

#Tuple

These are immutable

In [11]:
tuple_1 =(1,2,3,4,5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [12]:
#Allows multiple data types
tuple_2 =(1,"2",True,4,5)
print(tuple_2)
type(tuple_2)

(1, '2', True, 4, 5)

tuple

In [17]:
#Converting a list to a tuple
my_list=[1,"2 Mon", 3.6]
my_tuple=tuple(my_list)
print(my_tuple)
type(my_tuple)

(1, '2 Mon', 3.6)

tuple

In [19]:
print(my_tuple[0])

1

#Set

In [22]:
#Set --> Curly Brackets
my_Set ={1,2,3,4,5}
print(my_Set)
type(my_Set)

{1, 2, 3, 4, 5}

set

In [23]:
#Doesnt support indexing
list_1= [1,"Test", 5]
x=set(list_1)
print(x)

{1, 5, 'Test'}

In [24]:
set_1={1,2,23,23,12,5,12,1,6}
print(set_1)

{1, 2, 5, 6, 23, 12}

#Dictionary

Key-Value Pair

In [25]:
my_dict = {"name":"Atam", "Age":20, "Country":"India"}
print(my_dict)
type(my_dict)

{'name': 'Atam', 'Age': 20, 'Country': 'India'}

dict

In [26]:
print(my_dict["name"])

Atam

In [28]:
#Dictionary does not allow duplicate values
dict1= {"name":"Atam", "Age":20, "Country":"India","name":"Atam", "Age":20, "Country":"India"}
print(dict1)

{'name': 'Atam', 'Age': 20, 'Country': 'India'}