Operators in Python


1.   Arithmetric Operators
2.   Assignment Operators
3.   Comparison Operators
1.   Logical Operators
2.   Identity Operators
3.   Membership Operators

#Arthmetic Operator

In [2]:
num1 =20
num2 =5

#Addition
sum=num1+num2
print(sum)

#Difference
diff=num1-num2
print(diff)

#Product
pro=num1*num2
print(pro)

#Quotient
quo=num1/num2
print(quo)

#Expotent
exp= num1 ** num2
print(exp)

#Modulus
mod= num1 % num2
print(mod)

25
15
100
4.0
3200000
0

#Assignment

+=

-=

*=

**=

/=

%=

In [3]:
a = 5
print(a)

5

In [4]:
a = 5
a+=5
print(a)

10

In [5]:
b=6
b-=2
print(b)

4

#Comparision

In [6]:
a = 5
b = 10
print(a==b) #equal

False

In [7]:
a = 5
b = 10
print(a!=b) #not equal

True

In [9]:
a = 5
b = 10
print(a>b) #greater
print(a>=b) #greater than or equal to
print(a<=b) #lesser than or equal to
print(a<b) #lesser

False
False
True
True

#Logical

In [1]:
a=10

print(a>=5 and a<30)
print(a<=5 or a>3)

True
True

#Identity

In [2]:
x=5
y=10

print(x is y)

False

In [3]:
x=5
y=10

print(x is not y)

True

#Membership

in

not in

In [4]:
a=5
b=10

c=[1,2,3,4,5]
print(a in c)
print(b in c)

True
False

In [5]:
a=5
b=10

c=[1,2,3,4,5]
print(a not in c)
print(b not in c)

False
True